1.	Write a Python program to find sum of elements in list?

In [4]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print(sum(arr))

184

2.	Write a Python program to  Multiply all numbers in the list?

In [5]:
import numpy as np
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print(np.prod(arr))

7852204800

3.	Write a Python program to find smallest number in a list?

In [6]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print(min(arr))

1

4.	Write a Python program to find largest number in a list?

In [7]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print(max(arr))

66

5.	Write a Python program to find second largest number in a list?

In [10]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
arr.sort()
for i in arr :
  if i > arr[0] :
    print(i)
    break

2

6.	Write a Python program to find N largest elements from a list?

In [25]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
arr.sort(reverse=True)
N=3
x = []
for i in arr :
  if i not in x :
    x.append(i)
    if len(x) == N :
      print(x)
      break

[66, 45, 34]

7.	Write a Python program to print even numbers in a list?

In [29]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print([i for i in arr if i%2==0])

[2, 34, 6, 6, 6, 66, 6, 6]

8.	Write a Python program to print odd numbers in a List?

In [30]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
print([i for i in arr if i%2!=0])

[1, 45, 5, 1]

9.	Write a Python program to Remove empty List from List?

In [46]:
arr = [1,2,[],34,45,5,6,[],6,6,66,1,6,6]
x = [i for i in arr if i !=[]]
print(x)

[1, 2, 34, 45, 5, 6, 6, 6, 66, 1, 6, 6]

10.	Write a Python program to Cloning or Copying a list?

In [49]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

11.	Write a Python program to Count occurrences of an element in a list?

In [51]:
arr = [1,2,34,45,5,6,6,6,66,1,6,6]
arr.count(6)

5